<section id="addresses" class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="float-left hidden-title"><%= t(:receipt_list) %></h2>
      <div class="float-right">
        <p class="summary">
          <span id="list_count" style="display:none"><%= @address_count %></span>
          <%= raw t(:there_are_n_addresses, count: @address_count) %>
        </p>
      </div>
    </div>
    <div class="col-12">
      <table class="table table-bordered table-hover">
        <colgroup>
          <col>
          <col>
          <col style="width:120px">
          <% if can?(:update, Address) or can?(:delete, Address) %>
            <col<%= manage_width(Address) %>>
          <% end %>
        </colgroup>
        <thead class="thead-default">
        <tr>
          <th><%= t(:title, scope: [:activerecord, :attributes, :address]) %></th>
          <th><%= t(:address_category_id, scope: [:activerecord, :attributes, :address]) %></th>
          <th><%= t(:users_count, scope: [:activerecord, :attributes, :address]) %></th>
          <th class="text-center"><%= t(:manage) %></th>
        </tr>
        </thead>
        <tbody>
        <% unless @addresses.empty? %>
          <% @addresses.each_with_index do |address, index| %>
            <tr>
              <td><%= link_to address.title, admin_address_path(address) %></td>
              <td><%= address.address_category.title %></td>
              <td class="text-right"><%= address.users_count %></td>
              <% if can?(:update, address) or can?(:delete, address) %>
                <td class="text-center">
                  <% if can? :update, address %>
                    <%= link_to edit_admin_address_path(address), :class => "btn btn-secondary" do %>
                      <%= t(:edit) %>
                    <% end %>
                  <% end %>
                  <% if can? :delete, address %>
                    <%= link_to admin_address_path(address), :method => :delete, :data => { :confirm => t(:delete_cascade_confirm) }, :class => "btn btn-danger" do %>
                      <%= t(:delete) %>
                    <% end %>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
        </tbody>
      </table>
      <%= paginate @addresses %>
    </div>
    <% if can? :create, Address %>
    <div class="col-12">
      <%= link_to t(:add), new_admin_address_path, :class => "btn btn-primary" %>
    </div>
    <% end  %>
  </div>
</section>
