<div id="accounts" class="container">
  <div class="row">
    <div class="col-12">
      <%= render :partial => 'admin/accounts/search_form' %>
    </div>
    <article class="col-12">
      <h2 class="float-left hidden-title"><%=t(:account_list) %></h2>
      <div class="float-right">
        <p class="summary">
          <span id="list_count" style="display:none"><%=@account_count %></span>
          <%=raw t(:there_are_n_accounts,count: @account_count) %>
        </p>
      </div>
      <table class="table table-striped">
        <colgroup>
          <col>
          <col>
          <col>
          <col>
          <col>
          <% if can?(:update, @account) or can?(:delete, @account) %>
          <col style="width:150px" />
          <% end %>
        </colgroup>
        <thead class="thead-default">
        <tr>
          <th class="text-center"><%=t(:transaction_date,scope:[:activerecord,:attributes,:account]) %></th>
          <th><%=t(:user_id,scope:[:activerecord,:attributes,:account]) %></th>
          <th><%=t(:order_number,scope:[:activerecord,:attributes,:account]) %> / <%=t(:order_title,scope:[:activerecord,:attributes,:account]) %></th>
          <th><%=t(:account_category_id,scope:[:activerecord,:attributes,:account]) %></th>
          <th><%=t(:title,scope:[:activerecord,:attributes,:account]) %></th>
          <th class="text-right"><%=t(:payment,scope:[:activerecord,:attributes,:account]) %></th>
          <% if can?(:update, @account) or can?(:delete, @account) %>
          <th class="text-center"><%=t(:manage) %></th>
          <% end  %>
        </tr>
        </thead>
        <tbody>
        <% unless @accounts.empty? %>
          <% @accounts.each do |account| %>
        <tr>
          <td><%= link_to  I18n.l(account.transaction_date, :format => :long), admin_account_path(account) %></td>
          <td><%=account.user.name %></td>
          <td><%=account.order.number %> / <%=account.order.title %></td>
          <td><%=account.account_category.title %></td>
          <td><%=account.title %></td>
          <td class="text-right"><%=number_to_currency (account.payment) %></td>
          <% if can?(:update, account) or can?(:delete, account) %>
            <td class="text-right">
              <% if can? :update, account %>
                <%= link_to edit_admin_account_path(account), :class => "btn btn-secondary" do %>
                  <%= t(:edit) %>
                <% end %>
              <% end %>
              <% if can? :delete, account %>
                <%= link_to admin_account_path(account), :method => :delete, :data => { :confirm => t(:delete_confirm) }, :class => "btn btn-danger" do %>
                  <%= t(:delete) %>
                <% end %>
              <% end %>
            </td>
          <% end %>
        </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="6" class="text-center"><%= t(:no_data) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      </table>
      <%= paginate @accounts %>
  </article>
  <% if can? :create, Account %>
    <div class="col-12">
      <%= link_to t(:add), new_admin_account_path, :class => "btn btn-primary" %>
    </div>
  <% end  %>
  </div>
</div>

